
.btn {
  background-color: #EDEDED;
  color: $primary;
}

.btn:hover {
  color: #EDEDED;
  background-color: $secondary;
  transition: .4s ease background;
  cursor: pointer;
  box-shadow: -6px 4px 4px -5px rgba(0, 0, 0, 0.2);
}

.btn-tarifs {
  background-image: linear-gradient(to right, $primary 0%, $secondary 51%, $primary 100%)
}

  .btn-tarifs {
    max-width: 400px;
    width: 100%;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }

  .btn-tarifs:hover {
    background-position: right center ; /* change the direction of the change here */
    color: #fff;
    text-transform: uppercase;
  }

.btn-back {
  background-color: #fff;
}