
.btn {
  background-color: $primary;
  border-radius: 10px;
  color: white;

}

.btn:hover {
  color: #EDEDED;
  background-color: $secondary;
  transition: .5s ease background;
  cursor: pointer;
  box-shadow: -6px 4px 4px -5px rgba(0, 0, 0, 0.2);
}

.btn-know-more {
  background-color: #EDEDED;
  color: $primary;
}