#about-top {
  background-color: #EDEDED;
}

#about-top .container {
  padding: 25px 0;
  text-align: center;
}

#about-top .cards-wrapper {
  column-count: 2;
  justify-items: center;
}

#about-top .cards-wrapper .card {
  margin: auto;
}

#about-top .cards-wrapper img {
  margin: auto;
}

#about-bottom {
  background-color: #EDEDED;
}

#about-bottom .container {
  padding: 25px 0;
  text-align: center;
}

#about-bottom span {
  font-size: 24px;
}


.btn-grad {
  background-image: linear-gradient(to right, $primary 0%, $secondary 51%, $primary 100%)
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center ; /* change the direction of the change here */
  color: #fff;
  text-transform: uppercase;
}