#about-top {
  background-color: #EDEDED;
  padding: 25px 0;
}

#about-top .container {
  text-align: center;
  padding: 25px;
}

#about-top h3 {
  padding: 50px 0
}

#about-top .cards-wrapper {
  column-count: 2;
}

#about-top .cards-wrapper .card {
  margin: auto;
}

#about-top .cards-wrapper img {
  margin: auto;
}

#about-bottom {
  background-color: #EDEDED;
  padding: 25px 0;
}

#about-bottom .container {
  text-align: center;
  padding-bottom: 50px;
}

#about-bottom span {
  font-size: 24px;
}