#contact-top {

}
#contact-top .container {

}
#contact-top .container h2 {

}
#contact-form {

}
#contact-form .form-container {

}
#contact-form .form-name {
  box-shadow: 0 4px 30px rgb(50 39 75 / 25%);
  border-radius: 10px;
  padding-left: 24px;
}
#contact-form .form-email {

}
#contact-form .form-phone {

}
#contact-form .form-textarea {

}