#concept-top {
  padding-top: 25px;
}

#concept-top .container h2 {
  padding: 25px 0;
  color: $primary;
  text-align: center;
}

#concept-top .container p {
  padding: 25px 0;
  text-align: center;
}

#concept-middle {
  padding: 25px 0;
}

#concept-middle .images-wrapper {
  justify-content: space-between;
  display: flex;
  column-count: 3;
}

#concept-bottom {
  padding: 25px 0;
}

#concept-bottom .container p {
  text-align: center;
}
