#presentation-top {
  padding: 25px 0;
  background-color: #EDEDED;
}

#presentation-top .container {
  padding: 25px 0;
  text-align: center;
}

#presentation-top .container img {
  max-height: 300px;
}

#presentation-middle {
  padding: 25px 0;
  background-color: #EDEDED;
  text-align: center;
}

#presentation-middle .cards-wrapper {
  column-count: 2;
}

#presentation-middle .card {
  margin: auto;
}

#presentation-bottom {
  padding: 25px 0;
  background-color: #EDEDED;
}

#presentation-bottom .container {
  text-align: center;

}

#presentation-bottom .container .faq {

}