#home-fs .first-scene img {
  width: 100%;
}
#home-concept {
  padding: 25px 0;
  background-color: #EDEDED;
}
#home-concept .container {
  display: block;
  padding: 0 50px;
}

#home-concept .container h2 {
  padding: 20px 0;
  color: $primary;
  text-align: center;
}

#home-concept .container p {
  padding: 0 70px 0 70px;
  text-align: center;
}

#home-gourdes {
  padding: 25px 0;
  background-color: #EDEDED;
}

#home-gourdes .container {
  padding: 0 50px;
}

#home-gourdes .container h2 {
  padding-bottom: 30px;
  color: $primary;
  text-align: center;
}

#home-gourdes .container .cards-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

#home-tarifs {
  padding-top: 50px;
}

#home-tarifs .container h2 {
    padding: 20px 0;
    color: $primary;
    text-align: center;
}

#home-tarifs .container .cards-wrapper {

}

#home-tarifs .container .card {

}

#home-about {
  padding-top: 50px;
}
#home-about .container {

}
#home-about .container h2 {

}
#home-about .container h2 p {

}
#home-about .container p {

}
#home-contact {
  padding-top: 50px;
}
#home-contact .container {

}
#home-contact .container p {

}
#home-contact .container p h2 {

}
#home-contact .container h2 {

}


