#home-fs .first-scene img {
  width: 100%;
}
#home-concept {
  padding: 25px 0;
  background-color: #EDEDED;
}
#home-concept .container {
  display: block;
  padding: 0 50px;
}

#home-concept .container p {
  padding: 0 70px 0 70px;
  text-align: center;
}

#home-gourdes {
  padding: 25px 0;
  background-color: #EDEDED;
}

#home-gourdes .container {
  padding: 0 50px;
}

#home-gourdes .container .cards-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

#home-tarifs {
  padding: 25px 0;
  background-color: #EDEDED;
}

#home-tarifs .container {
  display: block;
  padding: 0 50px;
  text-align: center;
}

#home-tarifs .btn-wrapper {
  padding-top: 50px;
}

#home-tarifs .

#home-about {
  padding: 25px 0;
  background-color: #EDEDED;
}

#home-about .container {
  display: block;
  padding: 0 50px;
text-align: center;
}


#home-about .container p {

}


#home-contact {
  padding-top: 50px;
}
#home-contact .container {

}
#home-contact .container p {

}