#main {
  text-align: center;
}

#tarifs-selector {

  input[type="radio"] {
    appearance: none;
    display: none;

    & + label {
      display: block;
      border: 2px solid transparent;
    }

    &:checked + label {
      border: 4px solid $secondary;
      background-color: $primary;
    }
  }
}

#tarifs-top {
  padding: 25px 0;
  background-color: #EDEDED;
}

#tarifs-top .container {
  padding: 25px 0;
  text-align: center;
  align-items: center;
}

#tarifs-selector {
  padding: 25px 0;
  background-color: #EDEDED;
}

#tarifs-selector .form-group {
  background-color: #EDEDED;
}

#tarifs-selector .form-group img:hover {
  background-color: $primary;
  transition: .8s ease background;
}

#tarifs-selector .form-group img {
  display: block;
  width: 75%;
  max-height: 300px;
  justify-content: space-between;
}

#tarifs-selector .selector-size {
  padding: 25px 0;
}

#tarifs-selector .result {
  padding: 25px 0;
  align-items: center;
  text-align: center;
}

#tarifs-selector .result output {
  font-size: 24px;
}

#tarifs-selector .selector-size {
  justify-content: space-between;
}