#footer {
  padding: 20px 0 20px 0;
  border: solid 2px blue;
  background-color: #360890;
  color: #fff;
  display: flex;
  justify-content: center;
  column-count: 2;
  column-gap: 50%;
}

#foot-left {
  border: solid 2px lime;
  height: 150px;
  width: 400px;
  display: flex;
  justify-items: center;
}

#foot-left img {
  width: 100%;
  max-width: 80px;
}

.icons-wrapper {
  border: solid 2px orange;
  display: flex;
  justify-content: center;
}

.sous-titre {
  border: solid 2px #ff0000;
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}


#foot-right {
  border: solid 2px yellow;
}