#footer {
  padding: 20px 0 20px 0;
  background-color: $primary;
  color: #fff;
  display: flex;
  justify-content: center;
  column-count: 3;
  column-gap: 5%;
}
.foot-left {
  display: flex;
  justify-content: center ;
  align-items: center;
  min-width: 400px;
  text-decoration: none;
}
.foot-left .content {
  padding-left: 80px;
}
.foot-left a {
  text-decoration: none;
  color: inherit;
}
.foot-left img {
  width: 100%;
  max-width: 80px;
}

.icons-wrapper {
  border: solid 2px orange;
  display: flex;
  justify-content: center;
}

.foot-right {
  display: flex;
  justify-content: center;
}
.foot-right .container {
  padding: 0 0 0 0;
  margin: auto;
  display: flex;
  column-count: 2;
  column-gap: 20px;
}
.foot-mid {
  margin: 0 0 50px 0;
  padding: 60px 0 0 0;
}
.foot-mid span {
  font-size: 20px;
  padding: 0 60px 0 0;
}

.title-conf {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}
.title-mentions {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}